<div class="side">
  <nav role="navigation">
    <span class="site-title font-eng font-bold">
      <a href="/">{{ site.title | escape }}</a>
    </span>

    <span class="site-description font-small"> {{ site.description }} </span>
    <ul class="menu">
      {% for category in site.category_list %}
        {% assign post_count = 0 %}
        {% for post in site.posts %}
            {% if post.category == category %}
            {% assign post_count = 1 | plus: post_count %}
            {% endif %}
        {% endfor %}
      <li class="menu-entry font-small"><a href="{{ site.baseurl }}/category/{{ category }}">{{ category }}</a> ({{ post_count }})</li>
      {% endfor %}
    </ul>
  </nav>
</div>
