/*------------------------------------*\
  Generic > Shared
\*------------------------------------*/

/**
 * Shared declarations for certain elements.
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */
address,
blockquote,
dl, ol, ul,
figure,
hr,
fieldset {
  margin-bottom: double($base-spacing-unit);
}

table, p {
  margin: $base-spacing-unit 0 $base-spacing-unit 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: $base-spacing-unit 0 $base-spacing-unit 0;
}

/**
 * Consistent indentation for lists.
 */
dd, ol, ul {
  list-style-position: inside;
  margin-left: $base-spacing-unit;
}