// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #bebebe;
$color-white: #FFFFFF;
$color-text:  #323232;
$color-gray:  #707070;

// Background Colors
$bg-color-white: $color-white;
$bg-color-dark:  #222228;
$bg-color-gray:  #d8d8d8;

// Border
$color-border: #83888b;

// Links
$color-link:        $color-text;
$color-link-hover:  $color-brand;