a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

code {
    text-wrap: wrap;
    padding: 0.2em;
    font-family: Consolas;
}

pre {
    text-wrap: wrap;
    margin: 0.7em;
    padding: 0.4em;
    border: solid 1px rgb(230, 230, 230);
    border-radius: 5px;
    background-color: rgb(240, 236, 231);
    font-family: Consolas;
}

.language-plaintext {
    background-color: rgb(231, 222, 209);
    border-radius: 5px;
    font-weight: bold;
}

::selection {
    background-color: gainsboro;
    text-decoration: underline;
}

.font-small {
  font-size: 12px;
}

.font-middle {
  font-size: 14px;
}

.font-mid-large {
  font-size: 16px;
}

.font-large {
  font-size: 18px;
}

.font-bold {
  font-weight: bold;
}

.no-margin {
  margin: 0;
}
