a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

code {
    text-wrap: wrap;
}

::selection {
    background-color: gainsboro;
    text-decoration: underline;
}

.font-small {
  font-size: 12px;
}

.font-middle {
  font-size: 14px;
}

.font-mid-large {
  font-size: 16px;
}

.font-large {
  font-size: 18px;
}

.font-eng {
  font-family: "Courier New", Courier, monospace;
}

.font-bold {
  font-weight: bold;
}

.no-margin {
  margin: 0;
}

@font-face {
  font-family: RIDIBatang;
  src: url();
}
