/*------------------------------------*\
  Components > Index
\*------------------------------------*/

.index-image {
    display: block;
    background-image: url('images/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 500px;
    height: 300px;
}

.index-content {
    display: block;
    margin: 20px auto;
}