/*------------------------------------*\
  Components > Category
\*------------------------------------*/

.category-name {
    display: block;
    margin: 0 0 double($base-spacing-unit) 0;
    width: 100%;
    text-align: right;
    text-decoration: underline;
}

.c-post-box {
    margin: $base-spacing-unit 0;
    width: 100%;
    border-bottom: 1px solid $bg-color-gray;
}

.c-post-box-title {
    margin: 0;
    padding: 0;
    height: ($font-size-base) * 2;

    a{
        display:inline-block; 
        width: 100%; 
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
    }
}

.c-post-box-content {
    display:inline-block; 
    padding: 0 $font-size-base 0 $font-size-base; 
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-size: $font-size-small;

    p {
        display: inline;
        white-space: nowrap;
        overflow: hidden;
    }
}

.c-post-box-date {
    display: block; 
    margin-top: -12px; 
    width: 100%;
    text-align: right; 
    font-size: $font-size-tiny;
}