---
layout: default
---

<div class='o-wrapper'>
  <div class='o-grid' style='padding: 0 16px 0 16px;'>
    <h1 class='category-name'>return0/{{ page.title }}</h1>
    <span class='category-description'>{{ page.content }}</span>
      {% assign category = page.category | default: page.title %}
      {% for post in site.categories[category] %}
          <div class='c-post-box'>
          <h2 class='c-post-box-title'>
            <a href='{{ post.url }}'>{{ post.title }}</a>
          </h2>
          <span class='c-post-box-content'>- {{ post.content }}</span>
          <time class='c-post-box-date'>{{ post.date | date: '%Y-%m-%d' }}</time>
        </div>
      {% endfor %}
    </div>
</div>

<script language='javascript'>
  var content_bf = document.getElementsByClassName('c-post-box-content');
  for(var i = 0; i < content_bf.length; i++) {
    var inner_tag_p = content_bf[i].innerHTML.replace(/(<([^>]+)>)/gi, "");
    content_bf[i].innerHTML = inner_tag_p;
  }
</script>