<!DOCTYPE HTML>
<html lang="en">

<head>
    {%- include head.html -%}
</head>

<body>
    <div class="wrapper">
        <div class="wrapper-horizontal">
            <div class="main">
                <div class="body-inner">
                    <div class="post-title">
                        <h3 class="font-eng">{{ page.category }}/{{ page.title }}</h3>
                    </div>
                    <div class="post-metadata">
                        <ul class="post-metadata-list">
                            <li> {{ page.date | date: "%Y-%m-%d %H:%M" }} </li>
                        </ul>
                    </div>
                    <div class="post-content">
                        {{ page.content }}
                    </div>
                </div>
            </div>
            {%- include side.html -%}
        </div>
        {%- include footer.html -%}
    </div>
</body>

</html>